*{
	box-sizing: content-box;
}

#main{
	width: 100%;
}

.title{
	position: relative;
	float: right;
	padding: 1px 5px 5px 1px;
	border: 1px solid;
	color: #fa8072;
}

.text{
	clear: right;
}

/* Desktop */
@media (min-width: 992px) {
	.col_lg_4{
		float: left;
		width: 33%;
	}
}

/* Tablet */
@media (min-width: 768px) and (max-width: 991px) {
	.col_md_6{
		float: left;
		width: 50%;
	}
}


/* Mobile */
@media (max-width: 767px) {
	.col_sm_12{
		float: left;
		width: 100%;
	}
}